# Auth service local environment

PORT=8089
ALLOW_ORIGINS=http://localhost:3000|http://localhost:3001|http://localhost:3333

DB_HOST=localhost
DB_PORT=5433
DB_STORE=memoneo
DB_USER=memoneo
DB_PASSWORD=change-me
DB_SSL_MODE=disable

AUTH_COOKIE_DOMAIN=localhost
AUTH_JWT_KID=memoneo-auth
AUTH_JWT_ISSUER=memoneo-auth
AUTH_JWT_AUDIENCE=memoneo
AUTH_JWT_SIGNING_KEY="LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQo..."
